a:link {
  color: #a5a513;
  text-decoration: none;
}
a:visited {
  color: #82820f;
  text-decoration: none;
}
a:hover {
  color: #c8c817;
  text-decoration: none;
}
a:active {
  color: #9ead20;
  text-decoration: none;
}

.logo:link {
  color: #5F6062;
  text-decoration: none;
}
.logo:visited {
  color: #5F6062;
  text-decoration: none;
}

.backtohome {
  text-align: center;
}
.backtohome .icon-home {
  border: 1px solid #dededc;
  border-radius: 50%;
  display: inline-block;
  background-image: url(/static/assets/svg/home.svg);
  background-repeat: no-repeat;
  background-size: 2em 2em;
  background-position: 50% 45%;
  height: 3.5em;
  width: 3.5em;
}
.backtohome .icon-home:hover {
  background-color: #f6f6f6;
  transition: background-color 500ms linear;
}

.permalink .icon-infinity {
  border: 1px solid #dededc;
  border-radius: 50%;
  display: inline-block;
  background-image: url(/static/assets/svg/infinity.svg);
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: 50% 50%;
  height: 2.5em;
  width: 2.5em;
}
.permalink .icon-infinity:hover {
  background-color: #f6f6f6;
  transition: background-color 500ms linear;
}
