### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### harp ###
www
node_modules/borschik
node_modules/browser-sync
node_modules/browserify
node_modules/browserify-shim
node_modules/hacker-deps
node_modules/tape
node_modules/uglify-js
node_modules/uglifyjs
node_modules/watchify
node_modules/watchy
