.metadata
  .original
    span.author= original.author
  span.translator= translator
  time.pub-date(datetime='#{ new Date(date) }')
    != date
  if edit
    time.edit-date(datetime='#{ new Date(edit) }')
      != edit
