<footer class="the-footer">
  <div class="section-inner">
    <h3 class="h5 uppercase">Ask Me Questions</h3>
    <p>Ask me anything at <a href="https://github.com/enja/article/issues/new">GitHub</a></p>
    <h3 class="h5 uppercase">Elsewhere</h3>
    <p>
      <a href="http://twitter.com/cssradar">Twitter</a>
      <span class="space">/</span>
      <a href="http://github.com/studiomohawk">GitHub</a>
      <span class="space">/</span>
      <a href="http://google.com/+YuyaSaito">Google+</a>
      <span class="space">/</span>
      <a href="https://pinboard.in/u:studiomohawk">Pinboard</a>
    </p>
    <p class="bio madeintokyo">
      Build by Yuya Saito - Front-end Develper by day, translator by night.<br>
      Made Proudly in Tokyo.
    </p>
  </div>
</footer>
