<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
<link rel="stylesheet" href="/style/main.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:800">
<title>{{ .Title }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ .Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@cssradar">
<link rel="author" href="https://plus.google.com/+YuyaSaito">
<link rel="author" href="/humans.txt">
