.metadata {
  margin: auto auto 1.5em;
}

.metadata .author:before {
  content: "Written By";
  display: inline;
  margin-right: 4px;
}

.metadata .translator {
  display: block;
}
.metadata .translator:before {
  content: "Translated By";
  display: inline;
  margin-right: 4px;
}
.metadata .pub-date,
.metadata .pub-date {
  display: block;
}
.metadata .pub-date:before {
  content: "Published @";
  display: inline;
  margin-right: 4px;
}
.metadata .edit-date:before {
  content: "Updated @";
  display: inline;
  margin-right: 4px;
}
