h3.h5.uppercase Elsewhere

p
  if owner.twitter
    a(href='https://twitter.com/#{ owner.twitter }') Twitter
    span.space /
  if owner.github
    a(href='https://github.com/#{ owner.github }') GitHub
    span.space /
  if owner.googleplus
    a(href='https://plus.google.com/+#{ owner.googleplus }') Google+
    span.space /
  if owner.pinboard
    a(href='https://pinboard.in/u:#{ owner.pinboard }') pinboard
