!!!
html
  head
    != partial('../_shared/system/header/index')
  body
    div.stripe
    div(class='page page-#{ current.path[0] } page-#{ current.path.join("-") }')
      != partial('../_shared/modules/article/content')
      != partial('../_shared/modules/footer/index')
    != partial('../_shared/system/footer/script')
  if environment === 'development'
    != partial('../_shared/system/footer/sync')
    != partial('../_shared/_debug')
